/* 
    Created on : 1 avr. 2019, 13:41:46
    Author     : ThunderMephisto
*/
li {
    list-style-type: none;
}
nav > ul > li >a{
    display:block;
    float:left;   
    width: 150px;
    line-height: 50px;
    background: url(../img/bouton.png) no-repeat;
    color: #DCDCDC;
    text-decoration: none;
    text-align: center;
}

nav > ul > li >a:hover {
    background: url(../img/boutonHover.png) no-repeat;
}

.menuBar {
    background: lightgray;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "contentMenu contentObjets";
    grid-gap: 10px;
    grid-template-columns: 15%;
}

.contentMenu {
    background: lightgreen;
}

.contentObjects {
    display: flex;
    background: lightblue;
}

.oneObject {

    border: 1px solid red;

    margin: 6px;
    width: 32%; 
    height: 440px;
    text-align: center;
}

.oneObject > img {
    width: 178px;
    height: 230px;
}

.oneObject > p {
    color: darkblue;
}

footer {
    height: 50px;
    background-color: black;
}

footer > ul {
    display: flex;
    justify-content: space-around;
}

